<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE xml>
<configuration debug="true">
	<!-- Appenders -->
	<!-- appender는 로그를 어디에 출력할지 (콘솔, 파일, DB 등) 결정 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder는 로그의 형식 지정 -->
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>   
	</appender>

	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>   
	</appender>
	
	<springProfile name="dev">
		<!-- 로거 -->
		<!-- logger는 로그를 출력하는 요소로 level 속성을 통해 log 레벨을 조정하여 appender에게 전달 -->
		<logger name="board" level="DEBUG" appender-ref="console"/>
		<logger name="jdbc.sqlonly" level="INFO" appender-ef="console-infolog"/>
		<logger name="jdbc.resultsettable" level="INFO" appender-ef="console-infolog"/>	
	</springProfile>
	
	<springProfile name="prod">
		<!-- 로거 -->
		<!-- logger는 로그를 출력하는 요소로 level 속성을 통해 log 레벨을 조정하여 appender에게 전달 -->
		<logger name="board" level="INFO" appender-ref="console"/>
	</springProfile>
	
	<!-- 루트 로거 -->
    <root level="off">
        <appender-ref ref="console"/>
    </root>
</configuration>